<!DOCTYPE html>
<html>
	<head>
		<title>DynoPop | Byte-size link shortener</title>
		<meta name='description' content='DynoPop is a FREE open-source URL shortener. Create your byte-size links now.'/>
		<meta charset="utf-8">
		<%= css :base, :skeleton, :styles %>
		<link href='/images/dynopop.svg' rel='shortcut icon' type='image/x-icon'>

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@mdabukozw" />
		<meta name="twitter:title" content="DynoPop | Link shortener." />
		<meta name="twitter:description" content="DynoPop is a FREE open-source URL shortener. Create your byte-size links now." />
		<meta name="twitter:image" content="https://dynopop.com/images/dynopop_cover.jpg" />
		<meta name="twitter:image:alt" content="Dynopop logo" />
	</head>
	<body>
		<%= erb :nav %>
		<section id='u-main' class='six columns'>
			<header>
				<h1 style='text-align: center;'>
					<%= @path %>
					<!-- <span class='u-pull-right'>From others</span> -->
				</h1>
			</header>
			<%= styled_flash %>
			<%= yield %>
		</section>
		<footer class='u-full-width gutted-30'>
			<span>Made by <a href='https://twitter.com/mdabukozw'>@wearecradle</a></span>
			<!-- <span>Support the initiative <u>here</u> if you are in Zimbabwe or <u>here</u> if you're international)</span> -->
			<span class='u-pull-right'>&copy; DynoPop <%= Time.now.strftime('%Y') %></span>
		</footer>
	</body>
	<script>
		function copy_link() {
			var byte_link = document.querySelector('#paragraph--short-link');
			var byte_copy_button = document.querySelector('#button--copy-link');

			/* Copy the text inside the text field */
			navigator.clipboard.writeText(byte_link.innerText);
			
			/* Change the class to indicate successful copying */
			byte_copy_button.innerText = 'Copied';
			byte_copy_button.className = 'button u-pull-right'
		}
	</script>
</html>